body{
  background-color: white;
    
    padding: 1em;
    
}
#navbtn{
  background-color: black;
}
.row1{
  background-color: white;
  box-shadow: 0 0 1em rgba(150, 144, 144, 0.884);
  border-radius: 1em;
}
#back{
  background-color: white;
  box-shadow: 0 0 1em rgba(150, 144, 144, 0.884);
}
/*
#menu {
    background-color: black;
    border-radius: .4em;
    box-shadow: 0 0 1em rgba(46, 44, 44, 0.884);
    padding: 1em;
    padding-left: 1em;
    margin: -2em;
  
    

}
#menu ul{
   
     display: inline-block;      
     list-style: none;
     padding: 1em;
     
     
     

}
#menu ul li a {
    color: blanchedalmond;
    text-decoration: none ;
    font-size: 17pt;
    letter-spacing: .5em;
    padding-right: 3em;    
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 0 0 .03em rgb(255, 255, 255);
    box-shadow: 0 0em 0.1em rgba(255, 255, 255, 0.63);
    padding: 1.3em;


}*/


#sky img{
  width: 99%;
  height: 30em;
  border-radius: 1em;
  margin-top: -3em;
  padding-top: -3em;
  margin-bottom: 8em


   

  
}
#profile img{
   width: 20%;
   margin-top: -20em;
   margin-left: 40%;
   display: block;
  
   
   

}
h1{
    
    text-shadow: 0 .05em .01em blanchedalmond;
    font-family: 'notable';
    
    background: none;
    margin-bottom: 0em;
    text-align: center;
    margin-right: 5em;
    margin-left: 5em;
    
}
#h1{
  font-size: 23pt;
  margin-top: 2em;
  
}

header{
    text-align: center;
    margin-bottom: 0em;
    margin-top: 0;

}
.profile{
    
    margin-bottom: 3em;
    width: 15em;
    border-radius: .7em;
    box-shadow: 0 0 1em rgba(46, 44, 44, 0.884);
}
section{
 
  background-color: white;
      border-radius: .3em;
    padding: .1em;
    margin: auto;
    margin-bottom: 2em;
}
#intro{
    
    font-size: 23pt;
    text-align: center;
    line-height: 1.5em;
    text-shadow: 1em 1em 1em rgb(150, 147, 147);
    font-family: 'Fjalla One', sans-serif;
    color: rgb(0, 0, 0);
    background: none;
    margin-top: 0em;
    margin-bottom: 2em;
    text-indent: 0.7em;
    padding:0em;

  
}
#chart{
  float: right;
  width: 50%;
}
.chart{
  width: 70%;
  border-radius: 1em;
  box-shadow: 0 0 .02em rgba(17, 17, 17, 0.76);
  
  margin-top: 3em;
 float: right;
 margin-left: 0;

}
#about{
    margin-left: 0;
    margin-right: 0;
    
   float: left;
    
    font-family: 'varela', sans-serif;
    padding: 1.5em;
    padding-left: 2em;
    
    background-color: white;    line-height: 2em;
    font-weight: lighter;
    text-indent: 1.7em;
    text-align: left;
    text-shadow: 0 0 .02em rgba(126, 128, 128, 0.568);
    
  }
.text{
   
  font-size: 15pt;
  margin-right: 25em;
  padding-left: 1em;
 


   
}


footer{
text-align: center;
font-style: normal;
text-shadow: 0 .1em .5em rgba(65, 66, 66, 0.507);

}


/* BOOTSTRAP ALBUM*/



.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: white;  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 10 rem;
    background-color: white;
  }
  
  .jumbotron h1 {
    font-weight: 300;
    transform: translate3d(100px, 10px, 10px) rotateZ(0deg);
  }
  
  .jumbotron .container {
    max-width: 70rem;
    background-color: white;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color:#DEDCDD
  }
  

 
  .albumcenter {

   
  margin-left: -2em;
  margin-top: -2em;
    width: 105.3%;
   
    border-radius: .5em;
    margin-bottom: -23em;
    background-color: white;    
  }
  .container{
    background-color: rgba(56, 59, 58, 0.747);
    border-radius: 1em;
    
  
  }
  #bg{
    background-color: white;  }
  .navbar{
    border-radius: 1em;
    margin-bottom: 5em;
   
  }
  #navi{
    background-color: black;
  }
  
  #correct{
    padding: 0em;
    
  }
  #menupr{
    margin-bottom: 1em;
  }
#prj {
  background-color: white;   
   text-shadow: 0 0 .3em  honeydew;
   font-size: 4em;
   font-family: 'Notable';
   margin-top: -3em;
   margin-bottom: 2em;
  

   
 }
 .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: white;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
}

 /*Animation*/



:root {
  --contrast: #112d4e;
  --bgColor:  white;;
  --fontColor: #112d4e;
}

#main {
  min-height: 50vh;
  background-color:white;
  border: 12px solid var(--contrast);
  text-shadow: 0 0.3em 0 rgba(126, 128, 128, 0.37);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0em;
  padding: 0;
  margin-left: 5em;
  background-color: white;}

.box {
  padding: 0px -10px;
  font-size: 50px;
  font-weight: bold;
  font-family: "notable", sans-serif;
  color: var(--fontColor);
  margin-bottom: 0em;
  background-color: white;
}
.boxflex{
  padding: 0em;
}
.animate-slideup {
  margin-right: 16px;
  transform: translateY(200px) rotate(15deg);
  animation: slideup 1000ms cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
  transform-origin: top center;
}

@keyframes slideup {
  0% {
    transform: translateY(200px) rotate(20deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.fs {
  height: 12px;
  width: 12px;
  background-color: #f95959;
  margin-left: -16px;
  margin-top: 28px;
  opacity: 0;
  animation: rotate-fs 1800ms cubic-bezier(0.5, 1, 0.89, 1) forwards;
  transform-origin: center;
}

@keyframes rotate-fs {
  0% {
    transform: rotate(0deg) scale(0);
    opacity: 0;
  }
  30% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(720deg);
    opacity: 1;
  }
}
#st{
  font-family: 'notable';
  padding-left: 2em;
  margin: 0;
  
}
.curtain {
 
  background-color: var(--contrast);
  width: 100vw;
  min-height: 100vh;
  top: 0px;
  left: 0px;
}

.progressBar {
  height: 2px;
  width: 2px;
  background-color: var(--bgColor);
}

.progressGrow-animation {
  animation: grow 2000ms cubic-bezier(0.65, 0, 0.35, 1) 1 forwards;
}

@keyframes grow {
  0% {
    width: 0px;
  }
  50% {
    width: calc(100vw - 24px);
    height: 2px;
  }
  100% {
    width: calc(100vw - 24px);
    height: calc(100vh - 24px);
  }
}

@media (max-width: 800px) {
  .flex {
    flex-wrap: wrap;
  }
  .animate {
    margin-right: 4px;
  }
  .fs {
    height: 12px;
    width: 12px;
    margin-top: 30px;
  }
}

@media (max-width: 520px) {
  .box {
    font-size: 40px;
  

    
  }


}
.col-md-4{
 
  border-radius: 1em;
  padding:2em;
  background-color: rgba(255, 255, 255, 0);}
